body {
  background-color: lightblue;
}
img	{
	width: 250px;
	height: 210px;
	border-radius: 50%;
}

* {
	font-family: "Roboto", sans-serif;
}
h1,
h2 {
	font-family: "Montserrat", sans-serif;
}
#galery
#landing {
  height: 80vh;
  /* center the content vertically using flexbox */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
ul {
  list-style: none;
  padding: 0;
  color: #fff;
}
h2 {
	color: #007bff;
}
